# Python
__pycache__


# Experiments and data
experiments/*
datasets/*


# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.dpth
*.md5
*.dep
*.auxlock
*.snm
*.out
*.nav
*.toc

# Reports
reports/**/*.pdf
reports/**/*plots
reports/**/data

# Submission
submission/args/*.args
